@import url('https://fonts.googleapis.com/css?family=Oswald');
/* ################################################################################# */
/* ############################### LESS VARIABLES ################################## */
/* ################################################################################# */
/* html */
/* nav */
/* nav border */
/* nav font color */
/* button border */
/* ################################################################################# */
/* ############################## GENERAL CLASSES ################################## */
/* ################################################################################# */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  background-color: #ededed;
  font-family: 'Helvetica', sans-serif;
  font-size: 1em;
}
.vAlign {
  height: 100%;
  height: 100vh;
  height: calc(100vh);
  height: calc(100vh - 60px);
  display: table;
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin: auto;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.vAlign .vAlignHelper {
  display: table-cell;
  vertical-align: middle;
}
.fRight {
  float: right;
}
.fLeft {
  float: left;
}
.mTop {
  margin-top: 1em;
}
.clear {
  clear: both;
}
/* ################################################################################# */
/* ################################# HTML TAGS ##################################### */
/* ################################################################################# */
header {
  width: 100%;
  height: 4em;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
}
nav {
  max-width: 1424px;
  width: 100%;
  margin: auto;
}
nav a {
  width: 25%;
  line-height: 60px;
  display: block;
  float: left;
  text-align: center;
  color: #777;
  font-size: 12px;
  text-decoration: none;
}
nav a:hover {
  color: #444;
}
h1 {
  font-size: 1.6em;
  line-height: 1.6em;
  color: #555;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
}
hr {
  width: 100%;
  border-bottom: 0;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 0;
}
.button {
  display: inline;
}
.button input {
  padding: 5px 15px;
  background-color: #ededed;
  border: 1px solid #777;
  border-radius: 3px;
  color: #ccc;
  font-size: 10px;
  cursor: pointer;
}
.button input:hover {
  background-color: #ccc;
}
/* ################################################################################# */
/* ############################### WRAPPER CLASSES ################################# */
/* ################################################################################# */
/* wGeneral contains everything from wMain to sidebars */
.wGeneral {
  width: 100%;
  margin: auto;
  max-width: 1424px;
  margin-top: 20px;
}
/* 

  wMain contains everything except sidebars

*/
.wMain {
  width: 80%;
  max-width: 1424px;
  border-left: #cccccc;
  border-right: #cccccc;
  float: left;
  width: 75%;
}
.wMain:after {
  content: "";
  display: table;
  clear: both;
}
/* wrapper for all cards but cards in the sidebar */
.wCards .card {
  width: 33.33%;
  padding-right: 15px;
  padding-left: 15px;
}
.wCards .card:before {
  content: ' ';
  height: 20px;
  display: block;
  width: 100%;
}
.wCards .card .wiCard {
  width: 100%;
  padding: 2px;
  background: #ffffff;
  box-shadow: 0 0 3px #ccc;
  /* give .ttCard, .cgCard,... padding-left */
  /* card teaser */
  /* card title */
  /* wrapper for the colored special-dots */
  /* card category */
}
.wCards .card .wiCard * {
  padding-left: 10px;
}
.wCards .card .wiCard .tsCard {
  width: 100%;
  height: 120px;
  background: grey;
}
.wCards .card .wiCard .cardTitle,
.wCards .card .wiCard .wSpecials {
  font-size: 1.2em;
  font-weight: 600;
  color: #555;
  line-height: 50px;
  height: 50px;
  width: 50%;
  background: #f5f5f5;
  border-bottom: 1px solid #dedede;
  float: left;
}
.wCards .card .wiCard .wSpecials {
  width: 50%;
  float: left;
  padding-left: 0;
}
.wCards .card .wiCard .wSpecials .special {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin-top: 15px;
  margin-right: 14px;
  float: right;
  background: red;
}
.wCards .card .wiCard .cgCard {
  font-size: 0.7em;
  line-height: 30px;
  height: 30px;
  background: #ededed;
  clear: both;
}
.wCards .card .wiCard .wLikeLine {
  float: left;
  width: 100%;
  background: red;
  height: 2px;
  padding-left: 0 !important;
}
.wCards .card .wiCard .wLikeLine .likelineGreen,
.wCards .card .wiCard .wLikeLine .likelineRed {
  float: left;
  width: 50%;
  height: 2px;
  padding-left: 0 !important;
}
.wCards .card .wiCard .wMember {
  margin: 10px;
  padding: 10px;
  font-size: 0.9em;
  border-bottom: 1px solid #dedede;
  height: 60px;
  color: #555;
  /* members e.g. without comments, maintained in one line */
}
.wCards .card .wiCard .wMember .mPicture {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid blue;
  background: #0032fa;
  float: left;
  margin-top: -5px;
}
.wCards .card .wiCard .wMember .mComment {
  line-height: 40px;
}
.wCards .card .wiCard .wMember .feedbackDot {
  height: 10px;
  width: 10px;
  border-radius: 20px;
  background: red;
  float: right;
  margin-top: 12px;
}
.wCards .card .wiCard .wMember.wOtherMembers {
  height: 35px;
}
.wCards .card .wiCard .wMember.wOtherMembers .mPicture {
  padding-left: 0 !important;
  height: 25px;
  width: 25px;
  margin-left: 10px;
}
.wCards .card .wiCard .wMember.wOtherMembers .mPicture:first-child {
  margin-left: 0;
}
.wCards .card .wiCard .wMember:last-child {
  border-bottom: 0;
}
/* 

  sidebar contains elements beside the main content

*/
.wSidebar {
  width: 25%;
  max-width: 356px;
  position: absolute;
  margin-left: 1068px;
  border-left: 1px solid #ccc;
}
.wSidebar .wCards .card {
  /* reset the .wCards .card default */
  width: 100%;
  margin-bottom: 20px;
}
.wSidebar .wCards .card:last-child {
  margin-bottom: 0;
}
.wSidebar .wCards .card .wiCard {
  margin-bottom: 10px;
}
.wSidebar .wCards .card .wiCard .cardTitle {
  float: none;
  width: 100%;
}
.wSidebar .wCards .card .wiCard .wMember {
  height: 50px;
  margin: 0 10px;
  padding: 10px 0;
}
.wSidebar .wCards .card .wiCard .wMember .mComment {
  float: left;
  width: 50%;
  line-height: 30px;
}
.wSidebar .wCards .card .wiCard .wMember .wSpecials {
  background: none;
  height: auto;
  border-bottom: 0;
}
.wSidebar .wCards .card .wiCard .wMember .wSpecials .special {
  margin-top: 8px;
  height: 15px;
  width: 15px;
}
.wSidebar .wCards .card:before {
  height: 0;
}
/* ################################################################################# */
/* ################################ GRID CLASSES ################################### */
/* ################################################################################# */
/* 

	THE WRAPPER

*/
.wGrid {
  width: 100%;
}
.wGrid:after {
  content: "";
  display: table;
  clear: both;
}
/*

	THE DIFFERENT GRIDS

*/
.col-1-1 {
  width: 100%;
}
.col-1-2 {
  width: 50%;
}
.col-1-3 {
  width: 33.33333333%;
}
.col-1-4 {
  width: 25%;
}
.col-1-5 {
  width: 20%;
}
.col-1-6 {
  width: 16.66666667%;
}
.col-1-7 {
  width: 14.28571429%;
}
.col-1-8 {
  width: 12.5%;
}
/* 
	
	Settings for the columns
	padding for any but the last column

*/
[class*='col-'] {
  padding-right: 20px;
  float: left;
}
[class*='col-'].col-last {
  padding-right: 0;
}
/* ################################################################################# */
/* ################################ GRID CLASSES ################################### */
/* ################################################################################# */
@media screen and (max-width: 1424px) {
  .wSidebar {
    margin-left: 75%;
  }
}
